.containerAbout {
    background-color: var(--black1);
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.about {
    max-width: 1200px;
}
.about__title {
    font-size: 90px;
    font-weight: 500;
}
/* .about__content {
    display: grid;
    grid-template-columns:  1fr 2fr;
    width: 100%;
    align-content: space-around;
} */
.about__text {
    font-size: 18px;
    color: var(--gris1);
    margin-top: 28px;
}
.containerAbout {
    padding-left: 30px;
    padding-right: 30px;
}
/* .about-img {
    text-align: end;
    margin: 0;
    padding: 0 48px 0 0 ;
}
.about-img img {
    height: 340px;
    border-radius: 100%;
} */
@media (max-width: 750px) {
    .about__title {
        font-size: 58px;
    }
    .containerAbout {
        padding-left: 15px;
        padding-right: 15px;
    }
    .about__content {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 500px) {
    .about__text {
        font-weight: 16px;
    }
}

