.containerAbout {
    background-color: var(--black1);
    display: flex;
    justify-content: center;
    padding-top: 120px;
}
.about {
    max-width: 1200px;
}
.about__title {
    font-size: 90px;
    font-weight: 500;
}
.about__text {
    font-size: 18px;
    color: var(--gris1);
    margin-top: 28px;
}
.containerAbout {
    padding-left: 30px;
    padding-right: 30px;
}
@media (max-width: 750px) {
    .about__title {
        font-size: 58px;
    }
    .containerAbout {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 500px) {
    .about__text {
        font-weight: 16px;
    }
}

